* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%; /* o corpo ocupa a tela toda */
}

/* Menu de navegação */
.menu {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    background-color: white;
    color: #1e3a8a;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    font-weight: 900;
    transition: background-color 0.2s, color 0.2s;
}

.menu a:hover {
    background-color: #1766d4;
    color: white;
}

/* Corpo */
body {
    background-color: #f3f4f6;
    color: #222;
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* empilha header, main, footer */
    min-height: 100vh; /* garante altura mínima da viewport */

}

/* Cabeçalho */
header {
    background-color: #1e3a8a;
    color: white;
    text-align: left;
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

/* Conteúdo principal */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    flex: 1; /* ocupa o espaço livre entre header e footer */
}



/* Rodapé */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1e3a8a;
    color: white;
    margin-top: 2rem;
    font-size: 0.9rem;
}

/* Botões */

button{
    
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    background-color: white;
    border-radius: 10px;
    padding: 0.2rem;
    width: 150px;
    text-align: center;
    
}