/* ===============================
   RESET BÁSICO
   =============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* ===============================
   BASE
   =============================== */
body {
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===============================
   HEADER
   =============================== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: #003399;
    border-bottom: 1px solid #cccccc;
    padding: 0.6rem;

    z-index: 1000; /* garante que fique acima do conteúdo */
}

header h1 {
    font-size: 1.4rem;
    color: #ffffff;
}

header p {
    font-size: 0.75rem;
    color: #f0f0f0;
}

/* ===============================
  classe MENU do header
   =============================== */
.menu {
    margin-top: 0.8rem;
}

.menu a {
    margin-right: 1rem;
    font-weight: 600;
    text-decoration: none;
    background-color: white;
    color: #1e3a8a;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
}

.menu a:hover{
     background-color: #0657c0;
    color: white;
}
/* ===============================
   MAIN
   =============================== */
main {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    flex: 1;

    padding-top: 7rem;
    
}

main h1 {
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-left: 7rem; /* ajuste fino aqui */
}

main p {
    margin-bottom: 1rem;
    max-width: 60ch; /* largura ideal para leitura */
    margin-right: 20rem; /* ajuste fino aqui */
    text-align: center;
}

main li a {
    color: #1e3a8a;
    text-decoration: none;
}

main li a:hover {
    text-decoration: underline;
}
section {
    scroll-margin-top: 8rem; /* um pouco maior que o header */
    margin-bottom: 2rem;
}
/* ===============================
   FOOTER
   =============================== */
footer {
    border-top: 1px solid #cccccc;
    padding: 0.8rem;
    text-align: center;
    font-size: 0.85rem;
    color: #000000;
}